/* Importing Google Font */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300);

/* Color Declarations */
$white: #FFF;
$gray: #7F8C8D;
$primary: #333;

/* Declaring Variables */
$background: linear-gradient(#7FB1C9, #A570CC);
$transparent: transparent;

/* Font Properties */
$font: Roboto;
$thin: 100;
$light: 300;
$normal: 400;
$bold: 500;

/* Mixins */
@mixin transition ($seconds) {
    -webkit-transition: all $seconds;
    -moz-transition: all $seconds;
    -ms-transition: all $seconds;
    transition: all $seconds;
}
@mixin brightness($percent) {
    -webkit-filter: brightness($percent);
    -moz-filter: brightness($percent);
    -ms-filter: brightness($percent);
}

.font-property {
    font-family: $font;
    font-weight: $light;
}

/* General CSS Properties */
body {
    background: $background;
    font-family: $font;
    font-weight: $light;
    height: 100vh;
    padding-top: 6%;
}
a:focus,
a:hover {
    text-decoration: none;
}

/* Div Tags CSS */
.card {
    background: $white;
    padding: 0;
    padding-bottom: 25px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
}
.tab-content {
    background: $white;
}
.progress {
    border-radius: 0;
    height: 2px;
    background: #F5F5F5;
}
.progress-bar {
    border-radius: 0;
    background: #FF4D89;
}
.tab-pane {
    padding: 60px 20px;
    padding-bottom: 0px;
}

/* Image Tags CSS */
img {
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}
.img-logo {
    height: 70px;
    margin: inherit;
    margin-bottom: 40px;
}


/* Button Tags CSS */
.btn,
.btn:focus {
    @include transition(0.5s);
    border-radius: 0;
    text-transform: uppercase;
    font-size: 14px;
    background: $transparent;
    outline: 0;
}
.btn-start,
.btn-start:focus {
    color: #FF4D89;
}
.btn-start:hover {
    background: #F5F5F5;
    color: #FF4D89;
}
.btn-stop,
.btn-reset,
.btn-stop:focus,
.btn-reset:focus {
    color: #AAA;
}
.btn-reset {
    margin-right: 5px;
}
.btn-stop:hover,
.btn-reset:hover {
    background: #F5F5F5;
    color: #666;
}
.btn-reset,
.btn-reset:focus {
    background: #F5F5F5;
}
.btn-reset:hover {
    background: #EEE;
}

/* Text Properties CSS */
#stopwatch-count,
#timer-count {
    font-size: 60px;
    text-align: center;
    color: #666;
    line-height: 77px;
    margin-bottom: 60px;
}
#mili {
    font-size: 30px;
    color: #FF4D89;
    padding-left: 4px;
    font-weight: 100;
}
.unit {
    font-size: 30px;
    padding: 0 6px;
    font-weight: $light;
    // color: rgba(255,255,255,0.8);
    color: rgba(0,0,0,0.8);
}

/* Span and Extra CSS */
.nav {
    background: $white;
    width: 100%;
    padding: 0;
    border-bottom: 1px solid #EEE;
}
.nav-tabs {
    padding: 0px 0;
}
.nav-tabs > li {
    font-weight: $normal;
    padding: 0;
    @include transition(0.5s);
    background: transparent;
    border-radius: 0;
    width: 50%;
    text-align: center;
}
.nav-tabs > li > a {
    @include transition(0.5s);
    background: transparent;
    border: 0;
    padding: 16px 0;
    border-bottom: 2px solid $transparent;
    border-radius: 0;
    color: #BBB;
}
.nav-tabs > li > a:focus, 
.nav-tabs > li > a:hover {
    background: transparent;
    color: #888;
    border-color: transparent;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    border: 0;
    color: #FF4D89;
    background: transparent;
    border-bottom: 2px solid #FF4D89;
}
.form-control,
.form-control:focus {
    padding: 0;
    border: none;
    height: auto;
    box-shadow: none;
    outline: 0;
    font-size: 60px;
    text-align: center;
    margin-bottom: 62px;
}
::-webkit-input-placeholder {
    color: #909;
}
