doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(charset="UTF-8")

        // Favicon and Title
        title#page-title Ticker - Countdown & Stopwatch
        link(rel='shortcut icon', href='img/silicon.png')

        // META TAGS
        meta(property='og:title', content='Ticker')
        meta(property='og:description', content='Ticker')

        // CSS CDNs
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')

        // MY CSS FILE
        link(rel='stylesheet', href='scss/design.css', media="all")
    body
        .col-md-12
            .col-md-4.col-md-offset-4
                .row.card
                    ul.nav.nav-tabs(id="main-tab", role='tablist')
                        li.active(role='presentation')
                            a(href='#timer', aria-controls='timer', role='tab', data-toggle='tab') 
                                span.fa.fa-hourglass-o
                                |  &nbsp;Timer
                        li(role='presentation')
                            a(href='#stopwatch', aria-controls='stopwatch', role='tab', data-toggle='tab') 
                                span.fa.fa-clock-o
                                |  &nbsp;Stopwatch

                    .tab-content#main-content
                        #timer.tab-pane.active(role='tabpanel')
                            #timer-content
                                input.form-control(id="input", placeholder="00:05:00", maxlength="8" type="text")
                            .progress.row
                                .progress-bar(role='progressbar', id="timer-bar", aria-valuemin='0', aria-valuemax='100', style='width: 0%;')
                            .row
                                .col-md-4(align="left")
                                    button.btn.btn-reset(id="reset-timer") Reset
                                .col-md-8(align="right")
                                    button.btn.btn-stop(id="stop-timer") Stop
                                    button.btn.btn-start(id="start-timer") Start
                        #stopwatch.tab-pane(role='tabpanel')
                            p#stopwatch-count 
                                span#stopwatch-clock 00:34:30
                                span#mili 00
                            .progress.row
                                .progress-bar(role='progressbar', aria-valuemin='0', aria-valuemax='100', style='width: 100%;')
                            .row
                                .col-md-6(align="left")
                                    button.btn.btn-reset(id="reset-stopwatch") Reset
                                    button.btn.btn-reset(id="lap-stopwatch") Lap
                                .col-md-6(align="right")
                                    button.btn.btn-stop(id="stop-stopwatch") Stop
                                    button.btn.btn-start(id="start-stopwatch") Start
                .row.message-box.wow.bounceInUp
                    .col-md-11
                        p#message Please enter valid time.
                    .col-md-1(align="right")
                        button.close(id="close-message") ×
        // JAVASCRIPT CDNs
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js')

        // MY JAVSCRIPT FILE
        script(src='js/ticker.js')